<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find new_quadruped_model_kp)/config/simpledog_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/simpledog" args="joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="ignore_timestamp" type="bool" value="false" />
  </node>

</launch>
